<script defer src="javascripts/traerDatos.js"></script>
<p>
    pagina de ejemplo {{title}}
</p>

<p>
    <button type="button" id="btnConsultar">Consultar Datos </button>
</p>
<div id="container" class="contenedor">
    <div id="name"></div>
    <div id="lastName"></div>
    <div id="age"></div>
    <div id="email"></div>
    <div id="phone"></div>
    <div id="address"></div>
    <div id="city"></div>


</div>