<button (click)="createNewProduct()">create</button>
<button (click)="onShowDetail('121212')">detalle not found</button>

<div class="products--grid">   <!-- Tenemos un ngFor en donde utilizamos gracias a los componentes un componente especializado para rendereizar el producto por input y output, el input nos envia el producto (product.component ) -->
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"          
  ></app-product>
  <!--   (showProduct)="onShowDetail($event)"  Nos envia el id del producto seleccionado desde el hijo product -->
  <button (click)="loadMore()">Load mora</button>  <!-- Este boton es para cargar mas productos, paginación-->
</div>

<div class="product-detail" [class.active]="showProductDetail">  
  <!-- [class.active]="showProductDetail Es una clase dinámica para mostrar y ocultar el detalle de los productos cada vez que hagamos click -->
  <!-- Esta clase es para ver el detalle del producto, haciendo la petición a la API mostrando unicamente ese producto en un costado de la pantalla  -->
  {{ statusDetail }}
  <div *ngIf="productChosen"> 
    <!-- *ngIf="productChosen"  Es para que no se renderice el detalle del producto hasta que no se haga la petición a la API -->
    <button (click)="toggleProductDetail()">Close</button> <!-- Este boton es para cerrar el detalle del producto -->
      <h1>{{ productChosen.title }}</h1> <!-- De ese producto seleccionado muestre el titulo -->

    <swiper [slidesPerView]="1"> <!-- swiper es la libreria que se instaló para hacer las animaciones de las imágenes -->
      <ng-template swiperSlide *ngFor="let img of productChosen.images"> 
        <!-- ng-template swiperSlide *ngFor="let img of productChosen.images"  Es para que se renderice la imagen que se encuentra en el array de imagenes -->
        <img [src]="img" alt="">
      </ng-template>
    </swiper>
    
    <p>{{ productChosen.description }}</p>
    <button (click)="updateProduct()">editar</button> 
    <!-- Este boton es para editar el producto, se hace la petición a la API y se actualiza el producto -->
    <button (click)="deleteProduct()">delete</button>
    <!-- Este boton es para eliminar -->
  </div>
</div>
